<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shop.mapper.CommodityDoMapper" >
  <resultMap id="BaseResultMap" type="com.shop.pojo.CommodityDo" >
    <id column="pk_commodity_id" property="pkCommodityId" jdbcType="BIGINT" />
    <result column="commodity_no" property="commodityNo" jdbcType="VARCHAR" />
    <result column="commodity_name" property="commodityName" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="is_promotion" property="isPromotion" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="promotion_price" property="promotionPrice" jdbcType="VARCHAR" />
    <result column="volume" property="volume" jdbcType="BIGINT" />
    <result column="evaluate" property="evaluate" jdbcType="VARCHAR" />
    <result column="size" property="size" jdbcType="VARCHAR" />
    <result column="fk_industry_id" property="fkIndustryId" jdbcType="BIGINT" />
    <result column="fk_secondary_industry_id" property="fkSecondaryIndustryId" jdbcType="BIGINT" />
    <result column="fk_classification_id" property="fkClassificationId" jdbcType="BIGINT" />
    <result column="integral" property="integral" jdbcType="BIGINT" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_del" property="isDel" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pk_commodity_id, commodity_no, commodity_name, title, is_promotion, price, promotion_price, 
    volume, evaluate, size, fk_industry_id, fk_secondary_industry_id, fk_classification_id, 
    integral, create_id, create_time, update_time, is_del
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from commodity
    where pk_commodity_id = #{pkCommodityId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from commodity
    where pk_commodity_id = #{pkCommodityId,jdbcType=BIGINT}
  </delete>
  <select id="selectObjectListByWhere" resultMap="BaseResultMap" parameterType="com.shop.pojo.CommodityDo" >
    select 
    <include refid="Base_Column_List" />
    from commodity
    <where >
      <if test="commodityNo != null" >
        and commodity_no = #{commodityNo,jdbcType=VARCHAR}
      </if>
      <if test="commodityName != null" >
        and commodity_name = #{commodityName,jdbcType=VARCHAR}
      </if>
      <if test="title != null" >
        and title = #{title,jdbcType=VARCHAR}
      </if>
      <if test="isPromotion != null" >
        and is_promotion = #{isPromotion,jdbcType=VARCHAR}
      </if>
      <if test="price != null" >
        and price = #{price,jdbcType=DECIMAL}
      </if>
      <if test="promotionPrice != null" >
        and promotion_price = #{promotionPrice,jdbcType=VARCHAR}
      </if>
      <if test="volume != null" >
        and volume = #{volume,jdbcType=BIGINT}
      </if>
      <if test="evaluate != null" >
        and evaluate = #{evaluate,jdbcType=VARCHAR}
      </if>
      <if test="size != null" >
        and size = #{size,jdbcType=VARCHAR}
      </if>
      <if test="fkIndustryId != null" >
        and fk_industry_id = #{fkIndustryId,jdbcType=BIGINT}
      </if>
      <if test="fkSecondaryIndustryId != null" >
        and fk_secondary_industry_id = #{fkSecondaryIndustryId,jdbcType=BIGINT}
      </if>
      <if test="fkClassificationId != null" >
        and fk_classification_id = #{fkClassificationId,jdbcType=BIGINT}
      </if>
      <if test="integral != null" >
        and integral = #{integral,jdbcType=BIGINT}
      </if>
      <if test="createId != null" >
        and create_id = #{createId,jdbcType=BIGINT}
      </if>
      <if test="createTime != null" >
        and to_days(create_time) = to_days(#{createTime,jdbcType=TIMESTAMP})
      </if>
      <if test="updateTime != null" >
        and to_days(update_time) = to_days(#{updateTime,jdbcType=TIMESTAMP})
      </if>
      <if test="isDel != null" >
        and is_del = #{isDel,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <select id="selectByBillId" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from commodity
    <where >
      <if test="selective != null" >
        <if test="selective.commodityNo != null" >
          and commodity_no = #{selective.commodityNo,jdbcType=VARCHAR}
        </if>
        <if test="selective.commodityName != null" >
          and commodity_name = #{selective.commodityName,jdbcType=VARCHAR}
        </if>
        <if test="selective.title != null" >
          and title = #{selective.title,jdbcType=VARCHAR}
        </if>
        <if test="selective.isPromotion != null" >
          and is_promotion = #{selective.isPromotion,jdbcType=VARCHAR}
        </if>
        <if test="selective.price != null" >
          and price = #{selective.price,jdbcType=DECIMAL}
        </if>
        <if test="selective.promotionPrice != null" >
          and promotion_price = #{selective.promotionPrice,jdbcType=VARCHAR}
        </if>
        <if test="selective.volume != null" >
          and volume = #{selective.volume,jdbcType=BIGINT}
        </if>
        <if test="selective.evaluate != null" >
          and evaluate = #{selective.evaluate,jdbcType=VARCHAR}
        </if>
        <if test="selective.size != null" >
          and size = #{selective.size,jdbcType=VARCHAR}
        </if>
        <if test="selective.fkIndustryId != null" >
          and fk_industry_id = #{selective.fkIndustryId,jdbcType=BIGINT}
        </if>
        <if test="selective.fkSecondaryIndustryId != null" >
          and fk_secondary_industry_id = #{selective.fkSecondaryIndustryId,jdbcType=BIGINT}
        </if>
        <if test="selective.fkClassificationId != null" >
          and fk_classification_id = #{selective.fkClassificationId,jdbcType=BIGINT}
        </if>
        <if test="selective.integral != null" >
          and integral = #{selective.integral,jdbcType=BIGINT}
        </if>
        <if test="selective.createId != null" >
          and create_id = #{selective.createId,jdbcType=BIGINT}
        </if>
        <if test="selective.createTime != null" >
          and to_days(create_time) = to_days(#{selective.createTime,jdbcType=TIMESTAMP})
        </if>
        <if test="selective.updateTime != null" >
          and to_days(update_time) = to_days(#{selective.updateTime,jdbcType=TIMESTAMP})
        </if>
        <if test="selective.isDel != null" >
          and is_del = #{selective.isDel,jdbcType=VARCHAR}
        </if>
      </if>
      <if test="ids != null" >
        and pk_commodity_id in (<foreach collection="ids" separator="," item="item"> #{item} </foreach>)
      </if>
    </where>
  </select>
  <select id="selectCountByWhere" resultType="java.lang.Integer" parameterType="com.shop.pojo.CommodityDo" >
    select 
     count(1) 
    from commodity
    <where >
      <if test="commodityNo != null" >
        and commodity_no = #{commodityNo,jdbcType=VARCHAR}
      </if>
      <if test="commodityName != null" >
        and commodity_name = #{commodityName,jdbcType=VARCHAR}
      </if>
      <if test="title != null" >
        and title = #{title,jdbcType=VARCHAR}
      </if>
      <if test="isPromotion != null" >
        and is_promotion = #{isPromotion,jdbcType=VARCHAR}
      </if>
      <if test="price != null" >
        and price = #{price,jdbcType=DECIMAL}
      </if>
      <if test="promotionPrice != null" >
        and promotion_price = #{promotionPrice,jdbcType=VARCHAR}
      </if>
      <if test="volume != null" >
        and volume = #{volume,jdbcType=BIGINT}
      </if>
      <if test="evaluate != null" >
        and evaluate = #{evaluate,jdbcType=VARCHAR}
      </if>
      <if test="size != null" >
        and size = #{size,jdbcType=VARCHAR}
      </if>
      <if test="fkIndustryId != null" >
        and fk_industry_id = #{fkIndustryId,jdbcType=BIGINT}
      </if>
      <if test="fkSecondaryIndustryId != null" >
        and fk_secondary_industry_id = #{fkSecondaryIndustryId,jdbcType=BIGINT}
      </if>
      <if test="fkClassificationId != null" >
        and fk_classification_id = #{fkClassificationId,jdbcType=BIGINT}
      </if>
      <if test="integral != null" >
        and integral = #{integral,jdbcType=BIGINT}
      </if>
      <if test="createId != null" >
        and create_id = #{createId,jdbcType=BIGINT}
      </if>
      <if test="createTime != null" >
        and to_days(create_time) = to_days(#{createTime,jdbcType=TIMESTAMP})
      </if>
      <if test="updateTime != null" >
        and to_days(update_time) = to_days(#{updateTime,jdbcType=TIMESTAMP})
      </if>
      <if test="isDel != null" >
        and is_del = #{isDel,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <insert id="insert" parameterType="com.shop.pojo.CommodityDo" useGeneratedKeys="true" keyProperty="pkCommodityId" >
    insert into commodity (pk_commodity_id, commodity_no, commodity_name, 
      title, is_promotion, price, 
      promotion_price, volume, evaluate, 
      size, fk_industry_id, fk_secondary_industry_id, 
      fk_classification_id, integral, create_id, 
      create_time, update_time, is_del)
    values (#{pkCommodityId,jdbcType=BIGINT}, #{commodityNo,jdbcType=VARCHAR}, #{commodityName,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{isPromotion,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{promotionPrice,jdbcType=VARCHAR}, #{volume,jdbcType=BIGINT}, #{evaluate,jdbcType=VARCHAR}, 
      #{size,jdbcType=VARCHAR}, #{fkIndustryId,jdbcType=BIGINT}, #{fkSecondaryIndustryId,jdbcType=BIGINT}, 
      #{fkClassificationId,jdbcType=BIGINT}, #{integral,jdbcType=BIGINT}, #{createId,jdbcType=BIGINT}, 
      now(), now(), #{isDel,jdbcType=VARCHAR})
  </insert>
  <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" >
    insert into commodity (pk_commodity_id, 
      commodity_no, commodity_name, title, 
      is_promotion, price, promotion_price, 
      volume, evaluate, size, 
      fk_industry_id, fk_secondary_industry_id, 
      fk_classification_id, integral, create_id, 
      create_time, update_time, is_del)
    values 
 <foreach collection="records" separator="," item="item">  (#{item.pkCommodityId,jdbcType=BIGINT}, 
      #{item.commodityNo,jdbcType=VARCHAR}, #{item.commodityName,jdbcType=VARCHAR}, #{item.title,jdbcType=VARCHAR}, 
      #{item.isPromotion,jdbcType=VARCHAR}, #{item.price,jdbcType=DECIMAL}, #{item.promotionPrice,jdbcType=VARCHAR}, 
      #{item.volume,jdbcType=BIGINT}, #{item.evaluate,jdbcType=VARCHAR}, #{item.size,jdbcType=VARCHAR}, 
      #{item.fkIndustryId,jdbcType=BIGINT}, #{item.fkSecondaryIndustryId,jdbcType=BIGINT}, 
      #{item.fkClassificationId,jdbcType=BIGINT}, #{item.integral,jdbcType=BIGINT}, #{item.createId,jdbcType=BIGINT}, 
      now(), now(), #{item.isDel,jdbcType=VARCHAR})  
 </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.shop.pojo.CommodityDo" useGeneratedKeys="true" keyProperty="pkCommodityId" >
    insert into commodity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkCommodityId != null" >
        pk_commodity_id,
      </if>
      <if test="commodityNo != null" >
        commodity_no,
      </if>
      <if test="commodityName != null" >
        commodity_name,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="isPromotion != null" >
        is_promotion,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="promotionPrice != null" >
        promotion_price,
      </if>
      <if test="volume != null" >
        volume,
      </if>
      <if test="evaluate != null" >
        evaluate,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="fkIndustryId != null" >
        fk_industry_id,
      </if>
      <if test="fkSecondaryIndustryId != null" >
        fk_secondary_industry_id,
      </if>
      <if test="fkClassificationId != null" >
        fk_classification_id,
      </if>
      <if test="integral != null" >
        integral,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="true" >
        create_time,
      </if>
      <if test="true" >
        update_time,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkCommodityId != null" >
        #{pkCommodityId,jdbcType=BIGINT},
      </if>
      <if test="commodityNo != null" >
        #{commodityNo,jdbcType=VARCHAR},
      </if>
      <if test="commodityName != null" >
        #{commodityName,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="isPromotion != null" >
        #{isPromotion,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="promotionPrice != null" >
        #{promotionPrice,jdbcType=VARCHAR},
      </if>
      <if test="volume != null" >
        #{volume,jdbcType=BIGINT},
      </if>
      <if test="evaluate != null" >
        #{evaluate,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        #{size,jdbcType=VARCHAR},
      </if>
      <if test="fkIndustryId != null" >
        #{fkIndustryId,jdbcType=BIGINT},
      </if>
      <if test="fkSecondaryIndustryId != null" >
        #{fkSecondaryIndustryId,jdbcType=BIGINT},
      </if>
      <if test="fkClassificationId != null" >
        #{fkClassificationId,jdbcType=BIGINT},
      </if>
      <if test="integral != null" >
        #{integral,jdbcType=BIGINT},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=BIGINT},
      </if>
      <if test="true" >
        now(),
      </if>
      <if test="true" >
        now(),
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shop.pojo.CommodityDo" >
    update commodity
    <set >
      <if test="commodityNo != null" >
        commodity_no = #{commodityNo,jdbcType=VARCHAR},
      </if>
      <if test="commodityName != null" >
        commodity_name = #{commodityName,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="isPromotion != null" >
        is_promotion = #{isPromotion,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="promotionPrice != null" >
        promotion_price = #{promotionPrice,jdbcType=VARCHAR},
      </if>
      <if test="volume != null" >
        volume = #{volume,jdbcType=BIGINT},
      </if>
      <if test="evaluate != null" >
        evaluate = #{evaluate,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=VARCHAR},
      </if>
      <if test="fkIndustryId != null" >
        fk_industry_id = #{fkIndustryId,jdbcType=BIGINT},
      </if>
      <if test="fkSecondaryIndustryId != null" >
        fk_secondary_industry_id = #{fkSecondaryIndustryId,jdbcType=BIGINT},
      </if>
      <if test="fkClassificationId != null" >
        fk_classification_id = #{fkClassificationId,jdbcType=BIGINT},
      </if>
      <if test="integral != null" >
        integral = #{integral,jdbcType=BIGINT},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="true" >
        update_time = now(),
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=VARCHAR},
      </if>
    </set>
    where pk_commodity_id = #{pkCommodityId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shop.pojo.CommodityDo" >
    update commodity
    set commodity_no = #{commodityNo,jdbcType=VARCHAR},
      commodity_name = #{commodityName,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      is_promotion = #{isPromotion,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      promotion_price = #{promotionPrice,jdbcType=VARCHAR},
      volume = #{volume,jdbcType=BIGINT},
      evaluate = #{evaluate,jdbcType=VARCHAR},
      size = #{size,jdbcType=VARCHAR},
      fk_industry_id = #{fkIndustryId,jdbcType=BIGINT},
      fk_secondary_industry_id = #{fkSecondaryIndustryId,jdbcType=BIGINT},
      fk_classification_id = #{fkClassificationId,jdbcType=BIGINT},
      integral = #{integral,jdbcType=BIGINT},
      create_id = #{createId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=VARCHAR}
    where pk_commodity_id = #{pkCommodityId,jdbcType=BIGINT}
  </update>
</mapper>