<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shop.mapper.LogisticsRecordsDoMapper" >
  <resultMap id="BaseResultMap" type="com.shop.pojo.LogisticsRecordsDo" >
    <id column="pk_logistics_records_id" property="pkLogisticsRecordsId" jdbcType="BIGINT" />
    <result column="logistics_records_no" property="logisticsRecordsNo" jdbcType="VARCHAR" />
    <result column="fk_base_order_id" property="fkBaseOrderId" jdbcType="BIGINT" />
    <result column="fk_express_id" property="fkExpressId" jdbcType="BIGINT" />
    <result column="collect_adress" property="collectAdress" jdbcType="VARCHAR" />
    <result column="pick_up" property="pickUp" jdbcType="VARCHAR" />
    <result column="seller_phone" property="sellerPhone" jdbcType="VARCHAR" />
    <result column="buyer_phone" property="buyerPhone" jdbcType="VARCHAR" />
    <result column="note" property="note" jdbcType="VARCHAR" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_del" property="isDel" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pk_logistics_records_id, logistics_records_no, fk_base_order_id, fk_express_id, collect_adress, 
    pick_up, seller_phone, buyer_phone, note, create_id, create_time, update_time, is_del
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from logistics_records
    where pk_logistics_records_id = #{pkLogisticsRecordsId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from logistics_records
    where pk_logistics_records_id = #{pkLogisticsRecordsId,jdbcType=BIGINT}
  </delete>
  <select id="selectObjectListByWhere" resultMap="BaseResultMap" parameterType="com.shop.pojo.LogisticsRecordsDo" >
    select 
    <include refid="Base_Column_List" />
    from logistics_records
    <where >
      <if test="logisticsRecordsNo != null" >
        and logistics_records_no = #{logisticsRecordsNo,jdbcType=VARCHAR}
      </if>
      <if test="fkBaseOrderId != null" >
        and fk_base_order_id = #{fkBaseOrderId,jdbcType=BIGINT}
      </if>
      <if test="fkExpressId != null" >
        and fk_express_id = #{fkExpressId,jdbcType=BIGINT}
      </if>
      <if test="collectAdress != null" >
        and collect_adress = #{collectAdress,jdbcType=VARCHAR}
      </if>
      <if test="pickUp != null" >
        and pick_up = #{pickUp,jdbcType=VARCHAR}
      </if>
      <if test="sellerPhone != null" >
        and seller_phone = #{sellerPhone,jdbcType=VARCHAR}
      </if>
      <if test="buyerPhone != null" >
        and buyer_phone = #{buyerPhone,jdbcType=VARCHAR}
      </if>
      <if test="note != null" >
        and note = #{note,jdbcType=VARCHAR}
      </if>
      <if test="createId != null" >
        and create_id = #{createId,jdbcType=BIGINT}
      </if>
      <if test="createTime != null" >
        and to_days(create_time) = to_days(#{createTime,jdbcType=TIMESTAMP})
      </if>
      <if test="updateTime != null" >
        and to_days(update_time) = to_days(#{updateTime,jdbcType=TIMESTAMP})
      </if>
      <if test="isDel != null" >
        and is_del = #{isDel,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <select id="selectByBillId" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from logistics_records
    <where >
      <if test="selective != null" >
        <if test="selective.logisticsRecordsNo != null" >
          and logistics_records_no = #{selective.logisticsRecordsNo,jdbcType=VARCHAR}
        </if>
        <if test="selective.fkBaseOrderId != null" >
          and fk_base_order_id = #{selective.fkBaseOrderId,jdbcType=BIGINT}
        </if>
        <if test="selective.fkExpressId != null" >
          and fk_express_id = #{selective.fkExpressId,jdbcType=BIGINT}
        </if>
        <if test="selective.collectAdress != null" >
          and collect_adress = #{selective.collectAdress,jdbcType=VARCHAR}
        </if>
        <if test="selective.pickUp != null" >
          and pick_up = #{selective.pickUp,jdbcType=VARCHAR}
        </if>
        <if test="selective.sellerPhone != null" >
          and seller_phone = #{selective.sellerPhone,jdbcType=VARCHAR}
        </if>
        <if test="selective.buyerPhone != null" >
          and buyer_phone = #{selective.buyerPhone,jdbcType=VARCHAR}
        </if>
        <if test="selective.note != null" >
          and note = #{selective.note,jdbcType=VARCHAR}
        </if>
        <if test="selective.createId != null" >
          and create_id = #{selective.createId,jdbcType=BIGINT}
        </if>
        <if test="selective.createTime != null" >
          and to_days(create_time) = to_days(#{selective.createTime,jdbcType=TIMESTAMP})
        </if>
        <if test="selective.updateTime != null" >
          and to_days(update_time) = to_days(#{selective.updateTime,jdbcType=TIMESTAMP})
        </if>
        <if test="selective.isDel != null" >
          and is_del = #{selective.isDel,jdbcType=VARCHAR}
        </if>
      </if>
      <if test="ids != null" >
        and pk_logistics_records_id in (<foreach collection="ids" separator="," item="item"> #{item} </foreach>)
      </if>
    </where>
  </select>
  <select id="selectCountByWhere" resultType="java.lang.Integer" parameterType="com.shop.pojo.LogisticsRecordsDo" >
    select 
     count(1) 
    from logistics_records
    <where >
      <if test="logisticsRecordsNo != null" >
        and logistics_records_no = #{logisticsRecordsNo,jdbcType=VARCHAR}
      </if>
      <if test="fkBaseOrderId != null" >
        and fk_base_order_id = #{fkBaseOrderId,jdbcType=BIGINT}
      </if>
      <if test="fkExpressId != null" >
        and fk_express_id = #{fkExpressId,jdbcType=BIGINT}
      </if>
      <if test="collectAdress != null" >
        and collect_adress = #{collectAdress,jdbcType=VARCHAR}
      </if>
      <if test="pickUp != null" >
        and pick_up = #{pickUp,jdbcType=VARCHAR}
      </if>
      <if test="sellerPhone != null" >
        and seller_phone = #{sellerPhone,jdbcType=VARCHAR}
      </if>
      <if test="buyerPhone != null" >
        and buyer_phone = #{buyerPhone,jdbcType=VARCHAR}
      </if>
      <if test="note != null" >
        and note = #{note,jdbcType=VARCHAR}
      </if>
      <if test="createId != null" >
        and create_id = #{createId,jdbcType=BIGINT}
      </if>
      <if test="createTime != null" >
        and to_days(create_time) = to_days(#{createTime,jdbcType=TIMESTAMP})
      </if>
      <if test="updateTime != null" >
        and to_days(update_time) = to_days(#{updateTime,jdbcType=TIMESTAMP})
      </if>
      <if test="isDel != null" >
        and is_del = #{isDel,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <insert id="insert" parameterType="com.shop.pojo.LogisticsRecordsDo" useGeneratedKeys="true" keyProperty="pkLogisticsRecordsId" >
    insert into logistics_records (pk_logistics_records_id, logistics_records_no, 
      fk_base_order_id, fk_express_id, collect_adress, 
      pick_up, seller_phone, buyer_phone, 
      note, create_id, create_time, update_time, is_del
      )
    values (#{pkLogisticsRecordsId,jdbcType=BIGINT}, #{logisticsRecordsNo,jdbcType=VARCHAR}, 
      #{fkBaseOrderId,jdbcType=BIGINT}, #{fkExpressId,jdbcType=BIGINT}, #{collectAdress,jdbcType=VARCHAR}, 
      #{pickUp,jdbcType=VARCHAR}, #{sellerPhone,jdbcType=VARCHAR}, #{buyerPhone,jdbcType=VARCHAR}, 
      #{note,jdbcType=VARCHAR}, #{createId,jdbcType=BIGINT}, now(), now(), #{isDel,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" >
    insert into logistics_records (pk_logistics_records_id, 
      logistics_records_no, fk_base_order_id, 
      fk_express_id, collect_adress, pick_up, 
      seller_phone, buyer_phone, note, 
      create_id, create_time, update_time, is_del)
    values 
 <foreach collection="records" separator="," item="item">  (#{item.pkLogisticsRecordsId,jdbcType=BIGINT}, 
      #{item.logisticsRecordsNo,jdbcType=VARCHAR}, #{item.fkBaseOrderId,jdbcType=BIGINT}, 
      #{item.fkExpressId,jdbcType=BIGINT}, #{item.collectAdress,jdbcType=VARCHAR}, #{item.pickUp,jdbcType=VARCHAR}, 
      #{item.sellerPhone,jdbcType=VARCHAR}, #{item.buyerPhone,jdbcType=VARCHAR}, #{item.note,jdbcType=VARCHAR}, 
      #{item.createId,jdbcType=BIGINT}, now(), now(), #{item.isDel,jdbcType=VARCHAR})  
 </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.shop.pojo.LogisticsRecordsDo" useGeneratedKeys="true" keyProperty="pkLogisticsRecordsId" >
    insert into logistics_records
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkLogisticsRecordsId != null" >
        pk_logistics_records_id,
      </if>
      <if test="logisticsRecordsNo != null" >
        logistics_records_no,
      </if>
      <if test="fkBaseOrderId != null" >
        fk_base_order_id,
      </if>
      <if test="fkExpressId != null" >
        fk_express_id,
      </if>
      <if test="collectAdress != null" >
        collect_adress,
      </if>
      <if test="pickUp != null" >
        pick_up,
      </if>
      <if test="sellerPhone != null" >
        seller_phone,
      </if>
      <if test="buyerPhone != null" >
        buyer_phone,
      </if>
      <if test="note != null" >
        note,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="true" >
        create_time,
      </if>
      <if test="true" >
        update_time,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkLogisticsRecordsId != null" >
        #{pkLogisticsRecordsId,jdbcType=BIGINT},
      </if>
      <if test="logisticsRecordsNo != null" >
        #{logisticsRecordsNo,jdbcType=VARCHAR},
      </if>
      <if test="fkBaseOrderId != null" >
        #{fkBaseOrderId,jdbcType=BIGINT},
      </if>
      <if test="fkExpressId != null" >
        #{fkExpressId,jdbcType=BIGINT},
      </if>
      <if test="collectAdress != null" >
        #{collectAdress,jdbcType=VARCHAR},
      </if>
      <if test="pickUp != null" >
        #{pickUp,jdbcType=VARCHAR},
      </if>
      <if test="sellerPhone != null" >
        #{sellerPhone,jdbcType=VARCHAR},
      </if>
      <if test="buyerPhone != null" >
        #{buyerPhone,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=BIGINT},
      </if>
      <if test="true" >
        now(),
      </if>
      <if test="true" >
        now(),
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shop.pojo.LogisticsRecordsDo" >
    update logistics_records
    <set >
      <if test="logisticsRecordsNo != null" >
        logistics_records_no = #{logisticsRecordsNo,jdbcType=VARCHAR},
      </if>
      <if test="fkBaseOrderId != null" >
        fk_base_order_id = #{fkBaseOrderId,jdbcType=BIGINT},
      </if>
      <if test="fkExpressId != null" >
        fk_express_id = #{fkExpressId,jdbcType=BIGINT},
      </if>
      <if test="collectAdress != null" >
        collect_adress = #{collectAdress,jdbcType=VARCHAR},
      </if>
      <if test="pickUp != null" >
        pick_up = #{pickUp,jdbcType=VARCHAR},
      </if>
      <if test="sellerPhone != null" >
        seller_phone = #{sellerPhone,jdbcType=VARCHAR},
      </if>
      <if test="buyerPhone != null" >
        buyer_phone = #{buyerPhone,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="true" >
        update_time = now(),
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=VARCHAR},
      </if>
    </set>
    where pk_logistics_records_id = #{pkLogisticsRecordsId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shop.pojo.LogisticsRecordsDo" >
    update logistics_records
    set logistics_records_no = #{logisticsRecordsNo,jdbcType=VARCHAR},
      fk_base_order_id = #{fkBaseOrderId,jdbcType=BIGINT},
      fk_express_id = #{fkExpressId,jdbcType=BIGINT},
      collect_adress = #{collectAdress,jdbcType=VARCHAR},
      pick_up = #{pickUp,jdbcType=VARCHAR},
      seller_phone = #{sellerPhone,jdbcType=VARCHAR},
      buyer_phone = #{buyerPhone,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      create_id = #{createId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=VARCHAR}
    where pk_logistics_records_id = #{pkLogisticsRecordsId,jdbcType=BIGINT}
  </update>
</mapper>