<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shop.mapper.MerchantDoMapper" >
  <resultMap id="BaseResultMap" type="com.shop.pojo.MerchantDo" >
    <id column="pk_merchants_id" property="pkMerchantsId" jdbcType="BIGINT" />
    <result column="merchants_no" property="merchantsNo" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="fk_client_id" property="fkClientId" jdbcType="BIGINT" />
    <result column="money" property="money" jdbcType="DECIMAL" />
    <result column="no_withdrawal_money" property="noWithdrawalMoney" jdbcType="DECIMAL" />
    <result column="cash_advance_money" property="cashAdvanceMoney" jdbcType="DECIMAL" />
    <result column="frozen_money" property="frozenMoney" jdbcType="DECIMAL" />
    <result column="guarantee

_money" property="guarantee

Money" jdbcType="DECIMAL" />
    <result column="merchants_level" property="merchantsLevel" jdbcType="VARCHAR" />
    <result column="desc_score" property="descScore" jdbcType="VARCHAR" />
    <result column="service_score" property="serviceScore" jdbcType="VARCHAR" />
    <result column="logistics_score" property="logisticsScore" jdbcType="VARCHAR" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_del" property="isDel" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pk_merchants_id, merchants_no, name, fk_client_id, money, no_withdrawal_money,
    cash_advance_money, frozen_money, guarantee

_money, merchants_level, desc_score, 
    service_score, logistics_score, create_id, create_time, update_time, is_del
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from merchant
    where pk_merchants_id = #{pkMerchantsId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from merchant
    where pk_merchants_id = #{pkMerchantsId,jdbcType=BIGINT}
  </delete>
  <select id="selectObjectListByWhere" resultMap="BaseResultMap" parameterType="com.shop.pojo.MerchantDo" >
    select 
    <include refid="Base_Column_List" />
    from merchant
    <where >
      <if test="merchantsNo != null" >
        and merchants_no = #{merchantsNo,jdbcType=VARCHAR}
      </if>
      <if test="name != null" >
        and name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="fkClientId != null" >
        and fk_client_id = #{fkClientId,jdbcType=BIGINT}
      </if>
      <if test="money != null" >
        and money = #{money,jdbcType=DECIMAL}
      </if>
      <if test="noWithdrawalMoney != null" >
        and no_withdrawal_money = #{noWithdrawalMoney,jdbcType=DECIMAL}
      </if>
      <if test="cashAdvanceMoney != null" >
        and cash_advance_money = #{cashAdvanceMoney,jdbcType=DECIMAL}
      </if>
      <if test="frozenMoney != null" >
        and frozen_money = #{frozenMoney,jdbcType=DECIMAL}
      </if>
      <if test="guaranteeMoney != null" >
        and guarantee_money = #{guaranteeMoney,jdbcType=DECIMAL}
      </if>
      <if test="merchantsLevel != null" >
        and merchants_level = #{merchantsLevel,jdbcType=VARCHAR}
      </if>
      <if test="descScore != null" >
        and desc_score = #{descScore,jdbcType=VARCHAR}
      </if>
      <if test="serviceScore != null" >
        and service_score = #{serviceScore,jdbcType=VARCHAR}
      </if>
      <if test="logisticsScore != null" >
        and logistics_score = #{logisticsScore,jdbcType=VARCHAR}
      </if>
      <if test="createId != null" >
        and create_id = #{createId,jdbcType=BIGINT}
      </if>
      <if test="createTime != null" >
        and to_days(create_time) = to_days(#{createTime,jdbcType=TIMESTAMP})
      </if>
      <if test="updateTime != null" >
        and to_days(update_time) = to_days(#{updateTime,jdbcType=TIMESTAMP})
      </if>
      <if test="isDel != null" >
        and is_del = #{isDel,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <select id="selectByBillId" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from merchant
    <where >
      <if test="selective != null" >
        <if test="selective.merchantsNo != null" >
          and merchants_no = #{selective.merchantsNo,jdbcType=VARCHAR}
        </if>
        <if test="selective.name != null" >
          and name = #{selective.name,jdbcType=VARCHAR}
        </if>
        <if test="selective.fkClientId != null" >
          and fk_client_id = #{selective.fkClientId,jdbcType=BIGINT}
        </if>
        <if test="selective.money != null" >
          and money = #{selective.money,jdbcType=DECIMAL}
        </if>
        <if test="selective.noWithdrawalMoney != null" >
          and no_withdrawal_money = #{selective.noWithdrawalMoney,jdbcType=DECIMAL}
        </if>
        <if test="selective.cashAdvanceMoney != null" >
          and cash_advance_money = #{selective.cashAdvanceMoney,jdbcType=DECIMAL}
        </if>
        <if test="selective.frozenMoney != null" >
          and frozen_money = #{selective.frozenMoney,jdbcType=DECIMAL}
        </if>
        <if test="selective.guaranteeMoney != null" >
          and guarantee_money = #{selective.guaranteeMoney,jdbcType=DECIMAL}
        </if>
        <if test="selective.merchantsLevel != null" >
          and merchants_level = #{selective.merchantsLevel,jdbcType=VARCHAR}
        </if>
        <if test="selective.descScore != null" >
          and desc_score = #{selective.descScore,jdbcType=VARCHAR}
        </if>
        <if test="selective.serviceScore != null" >
          and service_score = #{selective.serviceScore,jdbcType=VARCHAR}
        </if>
        <if test="selective.logisticsScore != null" >
          and logistics_score = #{selective.logisticsScore,jdbcType=VARCHAR}
        </if>
        <if test="selective.createId != null" >
          and create_id = #{selective.createId,jdbcType=BIGINT}
        </if>
        <if test="selective.createTime != null" >
          and to_days(create_time) = to_days(#{selective.createTime,jdbcType=TIMESTAMP})
        </if>
        <if test="selective.updateTime != null" >
          and to_days(update_time) = to_days(#{selective.updateTime,jdbcType=TIMESTAMP})
        </if>
        <if test="selective.isDel != null" >
          and is_del = #{selective.isDel,jdbcType=VARCHAR}
        </if>
      </if>
      <if test="ids != null" >
        and pk_merchants_id in (<foreach collection="ids" separator="," item="item"> #{item} </foreach>)
      </if>
    </where>
  </select>
  <select id="selectCountByWhere" resultType="java.lang.Integer" parameterType="com.shop.pojo.MerchantDo" >
    select 
     count(1) 
    from merchant
    <where >
      <if test="merchantsNo != null" >
        and merchants_no = #{merchantsNo,jdbcType=VARCHAR}
      </if>
      <if test="name != null" >
        and name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="fkClientId != null" >
        and fk_client_id = #{fkClientId,jdbcType=BIGINT}
      </if>
      <if test="money != null" >
        and money = #{money,jdbcType=DECIMAL}
      </if>
      <if test="noWithdrawalMoney != null" >
        and no_withdrawal_money = #{noWithdrawalMoney,jdbcType=DECIMAL}
      </if>
      <if test="cashAdvanceMoney != null" >
        and cash_advance_money = #{cashAdvanceMoney,jdbcType=DECIMAL}
      </if>
      <if test="frozenMoney != null" >
        and frozen_money = #{frozenMoney,jdbcType=DECIMAL}
      </if>
      <if test="guaranteeMoney != null" >
        and guarantee_money = #{guaranteeMoney,jdbcType=DECIMAL}
      </if>
      <if test="merchantsLevel != null" >
        and merchants_level = #{merchantsLevel,jdbcType=VARCHAR}
      </if>
      <if test="descScore != null" >
        and desc_score = #{descScore,jdbcType=VARCHAR}
      </if>
      <if test="serviceScore != null" >
        and service_score = #{serviceScore,jdbcType=VARCHAR}
      </if>
      <if test="logisticsScore != null" >
        and logistics_score = #{logisticsScore,jdbcType=VARCHAR}
      </if>
      <if test="createId != null" >
        and create_id = #{createId,jdbcType=BIGINT}
      </if>
      <if test="createTime != null" >
        and to_days(create_time) = to_days(#{createTime,jdbcType=TIMESTAMP})
      </if>
      <if test="updateTime != null" >
        and to_days(update_time) = to_days(#{updateTime,jdbcType=TIMESTAMP})
      </if>
      <if test="isDel != null" >
        and is_del = #{isDel,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <insert id="insert" parameterType="com.shop.pojo.MerchantDo" useGeneratedKeys="true" keyProperty="pkMerchantsId" >
    insert into merchant (pk_merchants_id, merchants_no, name, 
      fk_client_id, money, no_withdrawal_money,
      cash_advance_money, frozen_money, guarantee_money,
      merchants_level, desc_score, service_score, 
      logistics_score, create_id, create_time, update_time, 
      is_del)
    values (#{pkMerchantsId,jdbcType=BIGINT}, #{merchantsNo,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{fkClientId,jdbcType=BIGINT}, #{money,jdbcType=DECIMAL}, #{noWithdrawalMoney,jdbcType=DECIMAL},
      #{cashAdvanceMoney,jdbcType=DECIMAL}, #{frozenMoney,jdbcType=DECIMAL}, #{guaranteeMoney,jdbcType=DECIMAL},
      #{merchantsLevel,jdbcType=VARCHAR}, #{descScore,jdbcType=VARCHAR}, #{serviceScore,jdbcType=VARCHAR}, 
      #{logisticsScore,jdbcType=VARCHAR}, #{createId,jdbcType=BIGINT}, now(), now(), 
      #{isDel,jdbcType=VARCHAR})
  </insert>
  <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" >
    insert into merchant (pk_merchants_id, 
      merchants_no, name, fk_client_id, 
      money, no_withdrawal_money, cash_advance_money,
      frozen_money, guarantee_money,
      merchants_level, desc_score, service_score, 
      logistics_score, create_id, create_time, 
      update_time, is_del)
    values 
 <foreach collection="records" separator="," item="item">  (#{item.pkMerchantsId,jdbcType=BIGINT}, 
      #{item.merchantsNo,jdbcType=VARCHAR}, #{item.name,jdbcType=VARCHAR}, #{item.fkClientId,jdbcType=BIGINT}, 
      #{item.money,jdbcType=DECIMAL}, #{item.noWithdrawalMoney,jdbcType=DECIMAL}, #{item.cashAdvanceMoney,jdbcType=DECIMAL},
      #{item.frozenMoney,jdbcType=DECIMAL}, #{item.guaranteeMoney,jdbcType=DECIMAL},
      #{item.merchantsLevel,jdbcType=VARCHAR}, #{item.descScore,jdbcType=VARCHAR}, #{item.serviceScore,jdbcType=VARCHAR}, 
      #{item.logisticsScore,jdbcType=VARCHAR}, #{item.createId,jdbcType=BIGINT}, now(), 
      now(), #{item.isDel,jdbcType=VARCHAR})  
 </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.shop.pojo.MerchantDo" useGeneratedKeys="true" keyProperty="pkMerchantsId" >
    insert into merchant
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkMerchantsId != null" >
        pk_merchants_id,
      </if>
      <if test="merchantsNo != null" >
        merchants_no,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="fkClientId != null" >
        fk_client_id,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="noWithdrawalMoney != null" >
        no_withdrawal_money,
      </if>
      <if test="cashAdvanceMoney != null" >
        cash_advance_money,
      </if>
      <if test="frozenMoney != null" >
        frozen_money,
      </if>
      <if test="guaranteeMoney != null" >
        guarantee_money,
      </if>
      <if test="merchantsLevel != null" >
        merchants_level,
      </if>
      <if test="descScore != null" >
        desc_score,
      </if>
      <if test="serviceScore != null" >
        service_score,
      </if>
      <if test="logisticsScore != null" >
        logistics_score,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="true" >
        create_time,
      </if>
      <if test="true" >
        update_time,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkMerchantsId != null" >
        #{pkMerchantsId,jdbcType=BIGINT},
      </if>
      <if test="merchantsNo != null" >
        #{merchantsNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="fkClientId != null" >
        #{fkClientId,jdbcType=BIGINT},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="noWithdrawalMoney != null" >
        #{noWithdrawalMoney,jdbcType=DECIMAL},
      </if>
      <if test="cashAdvanceMoney != null" >
        #{cashAdvanceMoney,jdbcType=DECIMAL},
      </if>
      <if test="frozenMoney != null" >
        #{frozenMoney,jdbcType=DECIMAL},
      </if>
      <if test="guaranteeMoney != null" >
        #{guaranteeMoney,jdbcType=DECIMAL},
      </if>
      <if test="merchantsLevel != null" >
        #{merchantsLevel,jdbcType=VARCHAR},
      </if>
      <if test="descScore != null" >
        #{descScore,jdbcType=VARCHAR},
      </if>
      <if test="serviceScore != null" >
        #{serviceScore,jdbcType=VARCHAR},
      </if>
      <if test="logisticsScore != null" >
        #{logisticsScore,jdbcType=VARCHAR},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=BIGINT},
      </if>
      <if test="true" >
        now(),
      </if>
      <if test="true" >
        now(),
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shop.pojo.MerchantDo" >
    update merchant
    <set >
      <if test="merchantsNo != null" >
        merchants_no = #{merchantsNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="fkClientId != null" >
        fk_client_id = #{fkClientId,jdbcType=BIGINT},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="noWithdrawalMoney != null" >
        no_withdrawal_money = #{noWithdrawalMoney,jdbcType=DECIMAL},
      </if>
      <if test="cashAdvanceMoney != null" >
        cash_advance_money = #{cashAdvanceMoney,jdbcType=DECIMAL},
      </if>
      <if test="frozenMoney != null" >
        frozen_money = #{frozenMoney,jdbcType=DECIMAL},
      </if>
      <if test="guaranteeMoney != null" >
        guarantee_money = #{guaranteeMoney,jdbcType=DECIMAL},
      </if>
      <if test="merchantsLevel != null" >
        merchants_level = #{merchantsLevel,jdbcType=VARCHAR},
      </if>
      <if test="descScore != null" >
        desc_score = #{descScore,jdbcType=VARCHAR},
      </if>
      <if test="serviceScore != null" >
        service_score = #{serviceScore,jdbcType=VARCHAR},
      </if>
      <if test="logisticsScore != null" >
        logistics_score = #{logisticsScore,jdbcType=VARCHAR},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="true" >
        update_time = now(),
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=VARCHAR},
      </if>
    </set>
    where pk_merchants_id = #{pkMerchantsId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shop.pojo.MerchantDo" >
    update merchant
    set merchants_no = #{merchantsNo,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      fk_client_id = #{fkClientId,jdbcType=BIGINT},
      money = #{money,jdbcType=DECIMAL},
      no_withdrawal_money = #{noWithdrawalMoney,jdbcType=DECIMAL},
      cash_advance_money = #{cashAdvanceMoney,jdbcType=DECIMAL},
      frozen_money = #{frozenMoney,jdbcType=DECIMAL},
      guarantee_money = #{guaranteeMoney,jdbcType=DECIMAL},
      merchants_level = #{merchantsLevel,jdbcType=VARCHAR},
      desc_score = #{descScore,jdbcType=VARCHAR},
      service_score = #{serviceScore,jdbcType=VARCHAR},
      logistics_score = #{logisticsScore,jdbcType=VARCHAR},
      create_id = #{createId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=VARCHAR}
    where pk_merchants_id = #{pkMerchantsId,jdbcType=BIGINT}
  </update>
</mapper>