<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shop.mapper.OrderCommodityRelationDoMapper" >
  <resultMap id="BaseResultMap" type="com.shop.pojo.OrderCommodityRelationDo" >
    <id column="pk_order_commodity_relation_id" property="pkOrderCommodityRelationId" jdbcType="BIGINT" />
    <result column="fk_base_order_id" property="fkBaseOrderId" jdbcType="BIGINT" />
    <result column="fk_commodity_id" property="fkCommodityId" jdbcType="BIGINT" />
    <result column="number" property="number" jdbcType="BIGINT" />
    <result column="money" property="money" jdbcType="DECIMAL" />
    <result column="discount" property="discount" jdbcType="DECIMAL" />
    <result column="is_settlement" property="isSettlement" jdbcType="VARCHAR" />
    <result column="fk_logistics_records_id" property="fkLogisticsRecordsId" jdbcType="BIGINT" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_del" property="isDel" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pk_order_commodity_relation_id, fk_base_order_id, fk_commodity_id, number, money, 
    discount, is_settlement, fk_logistics_records_id, create_id, create_time, update_time, 
    is_del
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from order_commodity_relation
    where pk_order_commodity_relation_id = #{pkOrderCommodityRelationId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from order_commodity_relation
    where pk_order_commodity_relation_id = #{pkOrderCommodityRelationId,jdbcType=BIGINT}
  </delete>
  <select id="selectObjectListByWhere" resultMap="BaseResultMap" parameterType="com.shop.pojo.OrderCommodityRelationDo" >
    select 
    <include refid="Base_Column_List" />
    from order_commodity_relation
    <where >
      <if test="fkBaseOrderId != null" >
        and fk_base_order_id = #{fkBaseOrderId,jdbcType=BIGINT}
      </if>
      <if test="fkCommodityId != null" >
        and fk_commodity_id = #{fkCommodityId,jdbcType=BIGINT}
      </if>
      <if test="number != null" >
        and number = #{number,jdbcType=BIGINT}
      </if>
      <if test="money != null" >
        and money = #{money,jdbcType=DECIMAL}
      </if>
      <if test="discount != null" >
        and discount = #{discount,jdbcType=DECIMAL}
      </if>
      <if test="isSettlement != null" >
        and is_settlement = #{isSettlement,jdbcType=VARCHAR}
      </if>
      <if test="fkLogisticsRecordsId != null" >
        and fk_logistics_records_id = #{fkLogisticsRecordsId,jdbcType=BIGINT}
      </if>
      <if test="createId != null" >
        and create_id = #{createId,jdbcType=BIGINT}
      </if>
      <if test="createTime != null" >
        and to_days(create_time) = to_days(#{createTime,jdbcType=TIMESTAMP})
      </if>
      <if test="updateTime != null" >
        and to_days(update_time) = to_days(#{updateTime,jdbcType=TIMESTAMP})
      </if>
      <if test="isDel != null" >
        and is_del = #{isDel,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <select id="selectByBillId" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from order_commodity_relation
    <where >
      <if test="selective != null" >
        <if test="selective.fkBaseOrderId != null" >
          and fk_base_order_id = #{selective.fkBaseOrderId,jdbcType=BIGINT}
        </if>
        <if test="selective.fkCommodityId != null" >
          and fk_commodity_id = #{selective.fkCommodityId,jdbcType=BIGINT}
        </if>
        <if test="selective.number != null" >
          and number = #{selective.number,jdbcType=BIGINT}
        </if>
        <if test="selective.money != null" >
          and money = #{selective.money,jdbcType=DECIMAL}
        </if>
        <if test="selective.discount != null" >
          and discount = #{selective.discount,jdbcType=DECIMAL}
        </if>
        <if test="selective.isSettlement != null" >
          and is_settlement = #{selective.isSettlement,jdbcType=VARCHAR}
        </if>
        <if test="selective.fkLogisticsRecordsId != null" >
          and fk_logistics_records_id = #{selective.fkLogisticsRecordsId,jdbcType=BIGINT}
        </if>
        <if test="selective.createId != null" >
          and create_id = #{selective.createId,jdbcType=BIGINT}
        </if>
        <if test="selective.createTime != null" >
          and to_days(create_time) = to_days(#{selective.createTime,jdbcType=TIMESTAMP})
        </if>
        <if test="selective.updateTime != null" >
          and to_days(update_time) = to_days(#{selective.updateTime,jdbcType=TIMESTAMP})
        </if>
        <if test="selective.isDel != null" >
          and is_del = #{selective.isDel,jdbcType=VARCHAR}
        </if>
      </if>
      <if test="ids != null" >
        and pk_order_commodity_relation_id in (<foreach collection="ids" separator="," item="item"> #{item} </foreach>)
      </if>
    </where>
  </select>
  <select id="selectCountByWhere" resultType="java.lang.Integer" parameterType="com.shop.pojo.OrderCommodityRelationDo" >
    select 
     count(1) 
    from order_commodity_relation
    <where >
      <if test="fkBaseOrderId != null" >
        and fk_base_order_id = #{fkBaseOrderId,jdbcType=BIGINT}
      </if>
      <if test="fkCommodityId != null" >
        and fk_commodity_id = #{fkCommodityId,jdbcType=BIGINT}
      </if>
      <if test="number != null" >
        and number = #{number,jdbcType=BIGINT}
      </if>
      <if test="money != null" >
        and money = #{money,jdbcType=DECIMAL}
      </if>
      <if test="discount != null" >
        and discount = #{discount,jdbcType=DECIMAL}
      </if>
      <if test="isSettlement != null" >
        and is_settlement = #{isSettlement,jdbcType=VARCHAR}
      </if>
      <if test="fkLogisticsRecordsId != null" >
        and fk_logistics_records_id = #{fkLogisticsRecordsId,jdbcType=BIGINT}
      </if>
      <if test="createId != null" >
        and create_id = #{createId,jdbcType=BIGINT}
      </if>
      <if test="createTime != null" >
        and to_days(create_time) = to_days(#{createTime,jdbcType=TIMESTAMP})
      </if>
      <if test="updateTime != null" >
        and to_days(update_time) = to_days(#{updateTime,jdbcType=TIMESTAMP})
      </if>
      <if test="isDel != null" >
        and is_del = #{isDel,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <insert id="insert" parameterType="com.shop.pojo.OrderCommodityRelationDo" useGeneratedKeys="true" keyProperty="pkOrderCommodityRelationId" >
    insert into order_commodity_relation (pk_order_commodity_relation_id, fk_base_order_id, 
      fk_commodity_id, number, money, 
      discount, is_settlement, fk_logistics_records_id, 
      create_id, create_time, update_time, is_del)
    values (#{pkOrderCommodityRelationId,jdbcType=BIGINT}, #{fkBaseOrderId,jdbcType=BIGINT}, 
      #{fkCommodityId,jdbcType=BIGINT}, #{number,jdbcType=BIGINT}, #{money,jdbcType=DECIMAL}, 
      #{discount,jdbcType=DECIMAL}, #{isSettlement,jdbcType=VARCHAR}, #{fkLogisticsRecordsId,jdbcType=BIGINT}, 
      #{createId,jdbcType=BIGINT}, now(), now(), #{isDel,jdbcType=VARCHAR})
  </insert>
  <insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" >
    insert into order_commodity_relation (pk_order_commodity_relation_id, 
      fk_base_order_id, fk_commodity_id, number, 
      money, discount, is_settlement, 
      fk_logistics_records_id, create_id, 
      create_time, update_time, is_del)
    values 
 <foreach collection="records" separator="," item="item">  (#{item.pkOrderCommodityRelationId,jdbcType=BIGINT}, 
      #{item.fkBaseOrderId,jdbcType=BIGINT}, #{item.fkCommodityId,jdbcType=BIGINT}, #{item.number,jdbcType=BIGINT}, 
      #{item.money,jdbcType=DECIMAL}, #{item.discount,jdbcType=DECIMAL}, #{item.isSettlement,jdbcType=VARCHAR}, 
      #{item.fkLogisticsRecordsId,jdbcType=BIGINT}, #{item.createId,jdbcType=BIGINT}, 
      now(), now(), #{item.isDel,jdbcType=VARCHAR})  
 </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.shop.pojo.OrderCommodityRelationDo" useGeneratedKeys="true" keyProperty="pkOrderCommodityRelationId" >
    insert into order_commodity_relation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkOrderCommodityRelationId != null" >
        pk_order_commodity_relation_id,
      </if>
      <if test="fkBaseOrderId != null" >
        fk_base_order_id,
      </if>
      <if test="fkCommodityId != null" >
        fk_commodity_id,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="discount != null" >
        discount,
      </if>
      <if test="isSettlement != null" >
        is_settlement,
      </if>
      <if test="fkLogisticsRecordsId != null" >
        fk_logistics_records_id,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="true" >
        create_time,
      </if>
      <if test="true" >
        update_time,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkOrderCommodityRelationId != null" >
        #{pkOrderCommodityRelationId,jdbcType=BIGINT},
      </if>
      <if test="fkBaseOrderId != null" >
        #{fkBaseOrderId,jdbcType=BIGINT},
      </if>
      <if test="fkCommodityId != null" >
        #{fkCommodityId,jdbcType=BIGINT},
      </if>
      <if test="number != null" >
        #{number,jdbcType=BIGINT},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DECIMAL},
      </if>
      <if test="discount != null" >
        #{discount,jdbcType=DECIMAL},
      </if>
      <if test="isSettlement != null" >
        #{isSettlement,jdbcType=VARCHAR},
      </if>
      <if test="fkLogisticsRecordsId != null" >
        #{fkLogisticsRecordsId,jdbcType=BIGINT},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=BIGINT},
      </if>
      <if test="true" >
        now(),
      </if>
      <if test="true" >
        now(),
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shop.pojo.OrderCommodityRelationDo" >
    update order_commodity_relation
    <set >
      <if test="fkBaseOrderId != null" >
        fk_base_order_id = #{fkBaseOrderId,jdbcType=BIGINT},
      </if>
      <if test="fkCommodityId != null" >
        fk_commodity_id = #{fkCommodityId,jdbcType=BIGINT},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=BIGINT},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="discount != null" >
        discount = #{discount,jdbcType=DECIMAL},
      </if>
      <if test="isSettlement != null" >
        is_settlement = #{isSettlement,jdbcType=VARCHAR},
      </if>
      <if test="fkLogisticsRecordsId != null" >
        fk_logistics_records_id = #{fkLogisticsRecordsId,jdbcType=BIGINT},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="true" >
        update_time = now(),
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=VARCHAR},
      </if>
    </set>
    where pk_order_commodity_relation_id = #{pkOrderCommodityRelationId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shop.pojo.OrderCommodityRelationDo" >
    update order_commodity_relation
    set fk_base_order_id = #{fkBaseOrderId,jdbcType=BIGINT},
      fk_commodity_id = #{fkCommodityId,jdbcType=BIGINT},
      number = #{number,jdbcType=BIGINT},
      money = #{money,jdbcType=DECIMAL},
      discount = #{discount,jdbcType=DECIMAL},
      is_settlement = #{isSettlement,jdbcType=VARCHAR},
      fk_logistics_records_id = #{fkLogisticsRecordsId,jdbcType=BIGINT},
      create_id = #{createId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_del = #{isDel,jdbcType=VARCHAR}
    where pk_order_commodity_relation_id = #{pkOrderCommodityRelationId,jdbcType=BIGINT}
  </update>
</mapper>